@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* color */
$base_color: #FFFFFF;
$darker_color: #F9F9F9;
$general_color: #20A39E;
$accent_color: #D5A021;
$dark_color: #000000;

$main_font: 'Montserrat';
