
/* font  */

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  src: url("styles/fonts/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("styles/fonts/Montserrat-Bold.ttf") format("ttf");
}


body {
  --darker_color: #F9F9F9;
  margin: 0;

  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--darker_color);
}

